<header class="topbar" data-navbarbg="skin6">
    <nav class="navbar top-navbar navbar-expand-md">
        <!-- Navbar Başlığı -->
        <div class="navbar-header" data-logobg="skin6">
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                <i class="ti-menu ti-close"></i>
            </a>
            <div class="navbar-brand">
                <!-- Logo -->
                <a href="index.html">
                    <b class="logo-icon">
                        <img src="~/admin/assets/images/logo-icon.png" alt="Anasayfa" class="dark-logo" />
                        @* <img src="~/admin/assets/images/logo-icon.png" alt="Anasayfa" class="light-logo" /> *@
                    </b>
                    <span class="logo-text">
                        <img src="~/admin/assets/images/logo-text.png" alt="Anasayfa" class="dark-logo" />
                        <img src="~/admin/assets/images/logo-light-text.png" class="light-logo" alt="Anasayfa" />
                    </span>
                </a>
            </div>
            <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
               data-toggle="collapse" data-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Gezinmeyi Aç/Kapat">
                <i class="ti-more"></i>
            </a>
        </div>
        <!-- Navbar Menüsü -->
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                <!-- Bildirimler -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle pl-md-3 position-relative" href="javascript:void(0)"
                       id="bell" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <span><i data-feather="bell" class="svg-icon"></i></span>
                        <span class="badge badge-primary notify-no rounded-circle">5</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-left mailbox animated bounceInDown">
                        <ul class="list-style-none">
                            <li>
                                <div class="message-center notifications position-relative">
                                    <!-- Bildirim -->
                                    <a href="javascript:void(0)" class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                        <div class="btn btn-danger rounded-circle btn-circle">
                                            <i data-feather="airplay" class="text-white"></i>
                                        </div>
                                        <div class="w-75 d-inline-block v-middle pl-2">
                                            <h6 class="message-title mb-0 mt-1">Admin Panelini Başlat</h6>
                                            <span class="font-12 text-nowrap d-block text-muted">
                                                Yeni admin panelimi hemen gör!
                                            </span>
                                            <span class="font-12 text-nowrap d-block text-muted">9:30 AM</span>
                                        </div>
                                    </a>
                                    <!-- Bildirim -->
                                    <a href="javascript:void(0)" class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                        <span class="btn btn-success text-white rounded-circle btn-circle">
                                            <i data-feather="calendar" class="text-white"></i>
                                        </span>
                                        <div class="w-75 d-inline-block v-middle pl-2">
                                            <h6 class="message-title mb-0 mt-1">Bugünkü Etkinlik</h6>
                                            <span class="font-12 text-nowrap d-block text-muted text-truncate">
                                                Bugün bir etkinliğiniz olduğunu hatırlatırım.
                                            </span>
                                            <span class="font-12 text-nowrap d-block text-muted">9:10 AM</span>
                                        </div>
                                    </a>
                                    <!-- Bildirim -->
                                    <a href="javascript:void(0)" class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                        <span class="btn btn-info rounded-circle btn-circle">
                                            <i data-feather="settings" class="text-white"></i>
                                        </span>
                                        <div class="w-75 d-inline-block v-middle pl-2">
                                            <h6 class="message-title mb-0 mt-1">Ayarlar</h6>
                                            <span class="font-12 text-nowrap d-block text-muted text-truncate">
                                                Şablonu istediğiniz gibi özelleştirebilirsiniz.
                                            </span>
                                            <span class="font-12 text-nowrap d-block text-muted">9:08 AM</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="nav-link pt-3 text-center text-dark" href="javascript:void(0);">
                                    <strong>Tüm bildirimleri kontrol edin</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- Dil Seçimi -->
                <li class="nav-item d-none d-md-block">
                    <a class="nav-link" href="javascript:void(0)">
                        <div class="customize-input">
                            <select class="custom-select form-control bg-white custom-radius custom-shadow border-0">
                                <option selected>TR</option>
                                <option value="1">EN</option>
                                <option value="2">DE</option>
                                <option value="3">FR</option>
                            </select>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav float-right">
                <!-- Arama -->
                <li class="nav-item d-none d-md-block">
                    <a class="nav-link" href="javascript:void(0)">
                        <form>
                            <div class="customize-input">
                                <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                       type="search" placeholder="Ara" aria-label="Ara">
                                <i class="form-control-icon" data-feather="search"></i>
                            </div>
                        </form>
                    </a>
                </li>
                <!-- Kullanıcı Menüsü -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img src="~/admin/assets/images/users/profile-pic.jpg" alt="Kullanıcı" class="rounded-circle"
                             width="40">
                        <span class="ml-2 d-none d-lg-inline-block">
                            <span class="text-dark">Onur Hacıosmanoğlu</span>
                            <i data-feather="chevron-down" class="svg-icon"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i data-feather="user" class="svg-icon mr-2 ml-1"></i>
                            Profilim
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i data-feather="credit-card" class="svg-icon mr-2 ml-1"></i>
                            Bakiye
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i data-feather="mail" class="svg-icon mr-2 ml-1"></i>
                            Gelen Kutusu
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i data-feather="settings" class="svg-icon mr-2 ml-1"></i>
                            Hesap Ayarları
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i data-feather="power" class="svg-icon mr-2 ml-1"></i>
                            Çıkış Yap
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>