<head>
    <!-- Karakter Seti -->
    <meta charset="utf-8">
    <!-- Internet Explorer Uyumluluğu -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobil Cihazlar için Görünüm -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Sayfa Açıklaması -->
    <meta name="description" content="Bu bir admin paneli şablonudur.">
    <!-- Sayfa Yazarı -->
    <meta name="author" content="Adminmart Ekibi">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/admin/assets/images/favicon.png">

    <!-- Sayfa Başlığı -->
    <title>Adminmart Şablonu - Çok Amaçlı Yönetim Paneli</title>
    <!-- Stil Dosyaları -->
    <link href="~/admin/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <link href="~/admin/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="~/admin/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <link href="~/admin/dist/css/style.min.css" rel="stylesheet">

    <!-- HTML5 ve Eski Tarayıcı Uyumluluğu -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>