<aside class="left-sidebar" data-sidebarbg="skin6">
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="/SpofityChart/SpotifyChart/" aria-expanded="false">
                        <i data-feather="home" class="feather-icon"></i><span class="hide-menu">Kontrol Paneli</span>
                    </a>
                </li>
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Uygulamalar</span></li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="ticket-list.html" aria-expanded="false">
                        <i data-feather="tag" class="feather-icon"></i><span class="hide-menu">Destek Talepleri</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="app-chat.html" aria-expanded="false">
                        <i data-feather="message-square" class="feather-icon"></i><span class="hide-menu">Mesajlar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="/Spofity/SpotifyList/" aria-expanded="false">
                        <i data-feather="calendar" class="feather-icon"></i><span class="hide-menu">List</span>
                    </a>
                </li>

               
            </ul>
        </nav>
    </div>
</aside>
