@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="ltr" lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Admin Paneli">
    <meta name="author" content="Onur Hacıosmanoğlu">
    <title>Admin Paneli</title>
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <!-- Ana Yapı -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

        <!-- Header -->
        @await Html.PartialAsync("~/Views/AdminLayout/AdminHeader.cshtml")

        <!-- Head -->
        @await Html.PartialAsync("~/Views/AdminLayout/AdminHead.cshtml")

        <!-- Navbar -->
        @await Html.PartialAsync("~/Views/AdminLayout/AdminNavbar.cshtml")

        <!-- İçerik -->
        <div class="content-area">
            @RenderBody()
        </div>

    </div>

    <!-- Scriptler -->
    @await Html.PartialAsync("~/Views/AdminLayout/AdminScript.cshtml")

</body>

</html>
